body {
  margin: 0;
  padding: 0;
}

.weather-container {
  background: url("../assets/bg.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 3rem;
  height: calc(100vh - 6rem);
}

.weather-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-weather {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.weather-stats {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.temperature {
  color: rgb(240, 255, 141);
  font-size: 70px;
}

.temperature span {
  font-size: 30px;
  color: white;
}

.city-name {
  font-size: 30px;
  color: rgb(221, 221, 221);
}

.weather-type {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
